
  body {
	background:url("./dragas.png");
  	background:#F5F5F5;
  }
  
  .head {
  	background-color: #00337b;
  	background-repeat:no-repeat;
  	background-size: 100% 1100px;
  	width:100%;
  	
  	min-height:1100px;
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    	clip-path: polygon(0% 12%, 100% 0, 100% 100%, 0 100%);
    	overflow:show;
  	}
  	

  .content-h {
  	position:absolute;
  	z-index:100;
  	
  }
  
  .head h2 {
  	font-family: 'Roboto', sans-serif;
  	font-weight:500;
  	text-align:center;
  	font-size:64px;
  	color:#fff;
  	text-shadow: 0px 0px 3px #000;
  }
  
  .head h3 {
  	font-family: 'Roboto', sans-serif;
  	font-weight:400;
  	text-align:center;
  	color:#f9f9f9;
  	text-shadow: 0px 0px 3px #000;
  	
  }
  
  /* dont touch my box */
  
  .mybox, .mybox2 {
    	background:rgba(0,0,0,.3);
  	border-radius:3px;
  	padding-top:50px;
  	height:300px;
  	text-align:center;
  	text-decoration:none;
  
  }
  
  
  .mybox {
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 80%);
  }
  
    .mybox2 {
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    	clip-path: polygon(0% 0, 100% 10%, 100% 80%, 0 100%);
  }
  
    .mybox:hover, .mybox2:hover {
    	background:#000;
  	border-radius:3px;
  	text-align:center;
  	text-decoration:none;
  }
  

  
  
  
  .mybox h2, .mybox2 h2 {
  	font-family: 'Roboto', sans-serif;
  	font-weight:500;
  	text-align:center;
  	font-size:56px;
  	padding:10px;
  	color:#fff;
  	text-shadow: 0px 0px 3px #000;
  }
  
  
  
  
  .tapit {
  	background:rgba(0,0,0,0.3);
  	margin:auto;
  	width:500px;
  	color:#fff;
  	border-radius:6px;
  	padding-top:18px;
  	padding-bottom:4px;
  	margin-bottom:50px;
  	
  }
  
  .tapit img {
  	height:32px;
  	cursor: pointer;
  	border-radius: 50%;
  	box-shadow: 0 0 0 rgba(255,255,255, 0.9);
  	animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
  	0% {
    		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  	}
  	70% {
      	-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  	}
  	100% {
      	-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  	}
  }
  @keyframes pulse {
  	0% {
    		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  	}	
  	70% {
      		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  	}
  	100% {
      		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  	}
 }
  
  
  
  .tapit p {
    	font-family: 'Roboto', sans-serif;
  	font-weight:400;
  	font-size:18px;
  
  }
  
  .card {
  	border:1px solid #00337b; 
  	margin-bottom:15px;
  	color: #00337b;
  }

