<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ faculty.pic }}" class="card-img-top" /> 
        </div>
    </div>
<br>
<h6>{{ faculty.title }}</h6>
<h5>Research Types:</h5>
{% for cat in faculty.research.all %}
    <a href="#" class="badge badge-pill badge-secondary">{{ cat.title }}</a>
{% endfor %}
<h5>About Me</h5>  
<p>{{ faculty.bio }}</p>
<h5>Contact</h5> 
<h6>Email: {{ faculty.email }}</h6>
<h6>Phone: {{ faculty.phone }}</h6>
<h6>Website: {{ faculty.website }}</h6>
</div>