{% extends "base.html" %}
{% load static %}

{% block page_content %}

<h5>{{ text }}</h5>
  
{% load crispy_forms_tags %}

<h5>Welcome, {{ user.first_name }} {{user.last_name}}</h5>
<div class="card">
    <h5 class="card-header">Editing Faculty: {{ faculty.name }}</h5>
    <div class="card-body">
      <h5 class="card-title">Updating faculty profile</h5>
        <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}   
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

{% endblock %}