<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ faculty.pic.url }}" class="card-img-top" /> 
        </div>
    </div>
<br>
<h5>{{ faculty.name }}</h5>
<ul>
    <li><h6>{{ faculty.title }}</h6></li>
</ul>

<h5>Research:
{% for r_cat in faculty.researchTypes.all %}
    <a href="{% url 'research_category' r_cat.title %}" class="badge bg-primary">{{ r_cat.title }}</a> 
{% endfor %}
</h5>
<h5>About Me</h5>  
<p>{{ faculty.bio }}</p>
<h5>Contact</h5> 
<h6>Address: {{ faculty.address }}</h6>
<h6>Email: {{ faculty.email }}</h6>
<h6>Phone: {{ faculty.phone }}</h6>
<h6>Website: {{ faculty.website }}</h6> 
<!-- div class="col-md-4">
    <img src="{{ faculty.websiteQR }}" class="card-img-top" /> 
</div--> 

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>