{% extends "base.html" %}
{% load static %}
{% block page_title%}ODU Computer Science Department Directory{% endblock %}
{% block page_content %}

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div class="row" id="faculty-row">
            {% for fac in faculty %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3"> <!--was "card mb-2"-->
                        <a class="open-faculty" 
                           href="{% url 'fac_detail' fac_pk=fac.pk %}"
                           data-popup-url="{% url 'fac_detail' fac_pk=fac.pk %}"
                           ><img class="card-img-top" src="{{ fac.pic }}"></a>
                        <div class="card-body">
                            <h3 class="card-title">{{ fac.name }}</h3>
                            <h5>Research: 
                                {% for r_cat in fac.researchTypes.all %}
                                    <a href="{% url 'research_category' r_cat.title %}" class="badge bg-primary">{{ r_cat.title }}</a>
                                {% endfor %}
                            </h5>
                            <p class="card-text">{{ fac.bio|truncatechars:80 }}</p>
                            <h5>Contact</h5>
                            <h6>{{ fac.address }}</h6>
                            <h6>{{ fac.email }}</h6>
                            <h6>{{ fac.phone }}</h6>
                            <!-- Button trigger modal -->
                            <a class="open-faculty" href="{% url 'fac_detail' fac_pk=fac.pk %}" 
                            data-popup-url="{% url 'fac_detail' fac_pk=fac.pk %}">
                            <button type="button" class="btn btn-primary">More Info</button>
                            </a>

                            <!-- fac_detail Modal -->
                             
                                
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>

<script>
    $(document).on("click", ".open-faculty", function (e) {
      e.preventDefault();
      var $popup = $("#popup");
      var popup_url = $(this).data("popup-url");
      $(".modal-body", $popup).load(popup_url, function () {
        $popup.modal("show");
      });
    });
</script>

{% include "fac_modal.html" %}
{% endblock %}