{% extends "base.html" %}
{% load static %}

{% block page_content %}

<h5>{{ text }}</h5>
<div class="card">
  <h5 class="card-header">Welcome, {{ user.username }}</h5>
  <div class="card-body">
    <h5 class="card-title">Faculty Directory Portal</h5>
    <p class="card-text">Name: {{ user.first_name }}, Last: {{ user.last_name }}</p>
    <p class="card-text">FacultyModel: {{fac.name}} {{fac.email}}</p>

    
    <a class="edit-faculty" href="{% url 'edit' %}"><button class="btn btn-primary" role="button">Edit Your Profile</button></a>
    
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
  </div>
</div>

{% endblock %}